.the-form{
    display: table;
    border: 1px solid grey;
    padding: 5px;
    width: 300px;
}
.display-table {
    display: table-row;
}
.table-label {
    display: table-cell;
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
}
.table-input {
    display: table-cell;
}
.table-p {
    display: table-cell;
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
}
.error {
    border: 1px solid red;
}

.req {
    display: table-cell;
    padding-left: 5px;
    color: red;
}

.pass {
    display: table-cell;
    padding-left: 5px;
    color: green;
}