form{
    display: table;
    border: 1px solid grey;
    padding: 5px;
    width: 300px;
}
div{
    display: table-row;
}
label{
    display: table-cell;
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
}
input{
    display: table-cell;
}
p{
    display: table-cell;
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
}